*{
    padding: 0;
    margin: 0;
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
}
button{
     background: transparent;
    border: none;
}

nav{
    position: relative;
    background-color: #F2F2F2;
    padding: 16px;


}
.nav-closed{
    display: flex;
    align-items: center;
}

header nav a:first-child{
    position: relative;
    text-decoration: none;
    color: 111111;
    font-weight: 600;

}
.hidden{
    display: none;
}

.top-0 {
    top: 0;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: top: 32px;
}
li{
    list-style: none;
}
a{
 
  font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.social-img{
    width: 32px;
    height: 32px;
}
.menu-btn {
    width: 32px;
    position: absolute;
    right: 0px;

}
